.modalback{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalContainer{
    background-color: #0e1a40;
    padding: 20px;
    border-radius: 15px;
    width: 25%;
    max-height: 95%;
    overflow: auto;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
}

.modalHeader{
    justify-content: center;
    align-items: center;
}

.modalHeader h2{
    color: #e9e9f2;
    text-align: center;
    flex-grow: 1;
    padding: 10px;
}

.imgDetalhes{
    display: flex;
    gap: 80px;
}

.imgModal{
    width: 80%;
    max-width: 300px;
    height: auto;
    border-radius: 15px;
    display: flex;
    margin: auto;
}

.movieDetails{
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    color: #fbfbfb;
    align-items: center;
    line-height: 1.5rem;
}

.movieDetails li{
    list-style: none;
}

button{
    background-color: #364f9e;
    border-radius: 5px;
    color: aliceblue;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
}

.containerButton{
    display: flex;
    height: 30px;
}